@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-google-sans-flex), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0f12;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-google-sans-flex), sans-serif;
}